.container {
  border: 1px solid black;
  width: 60%;
  margin: 0px auto;
}

.contentContainer {
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  padding: 10px 18px;
  margin-top: 10px;
}

.contentContainer > div {
  margin-top: 10px;
}
.contentContainer p {
  margin-bottom: 5px;
  font-size: 0.8rem;
}
